@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

.root {
    --clr-main:#4b33a8;
    --clr-white:#ececec;
    --clr-gray:#e2e2e2;
    --clr-red:#961818;
    --clr-green:#79c20c;
    --clr-black:#222;
}

.asterisco {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}
h1,h2,h3,h4,h5,h6,p,a,input,textarea,ul {
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
}

a {
    text-decoration: none;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--clr-green);
}

aside{
    padding: 2rem;
    padding-right: 0;
    color: var(--clr-white);
    position:sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    font-weight: 400;
    font-size: 1.3rem;
}

.menu{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.boton-menu{
    background-color: transparent;
    border: 0;
    color: var(--clr-white);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
}

.boton-menu.active{
    background-color: var(--clr-white);
    color: var(--clr-green);
    width: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
}

.boton-menu.active::before{
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    background-color: transparent;
    border-bottom-right-radius: .5rem;
    box-shadow: 0 1rem 0 var(--clr-white);
}

.boton-menu.active::after{
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    background-color: transparent;
    border-top-right-radius: .5rem;
    box-shadow: 0 -1rem 0 var(--clr-white);
}

.bi-hand-index-thumb-fill,
.bi-hand-index-thumb{
    transform: rotateZ(90deg);
}

.numerito{
    background-color: var(--clr-white);
    color: var(--clr-green);
    padding: .15rem .25rem;
    border-radius: .25rem;
}

.boton-carrito.active .numerito{
    background-color: var(--clr-green);
    color: var(--clr-white);
}

.texto-footer {
    color: gray;
    font-size: 85rem;
}

main{
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;
}

.titulo-principal{
    color: var(--clr-black);
    margin-bottom: 2rem;
}

.contenedor-productos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.producto-imagen {
    max-width: 100%;
    border-radius: 1rem;
    
}

.producto-detalles {
    background-color: var(--clr-green);
    color: var(--clr-white);
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.producto-titulo{
    font-size: 1rem;
}

.producto-agendar{
    border: 0;
    background-color: var(--clr-white);
    color: var(--clr-green);
    padding: .4rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid var(--clr-white);
    transition: background-color .2s, color .2s;
}

.producto-agendar:hover{
    background-color: var(--clr-green);
    color: var(--clr-white);
}
  /* barra para cambiar de pagina*/
.btn-group {
    display: flex;
    justify-content: center;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 5px;
    background-color: greenyellow;
    color: black;
    text-decoration: none;
    border: none;
    border-radius: 5px;
  }
  
  .btn:hover {
    background-color: gray; /* Cambia el color al pasar el mouse sobre el botón */
  }
  
  /* Estilos para los botones de flecha << y >> */
  .btn-arrow {
    background-color: greenyellow;
    font-weight: bold;
    padding: 10px 15px;
  }
  
  .btn-arrow:hover {
    background-color: greenyellow;
  }
  

/**carrito**/

/**Logos de la tabla**/

.contenedor-carrito{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carrito-vacio{
    color: var(--clr-green);
    display: none;
}

.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-producto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-gray);
    color: var(--clr-black);
    padding: .5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
}

.carrito-producto-imagen{
    width: 4rem;
    border-radius: 1rem
}

.carrito-producto small{
    font-size: .750rem;
}

.carrito-producto-eliminar{
    border: 0;
    background-color: transparent;
    color: var(--clr-red);
    cursor: pointer;
}

.carrito-acciones{
    display: flex;
    justify-content: space-between;
}

.carrito-acciones-vaciar{
    border: 0;
    background-color: var(--clr-gray);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    cursor: pointer;
}

.carrito-acciones-derecha{
    display: flex;
}

.carrito-acciones-total{
    display: flex;
    background-color: var(--clr-gray);
    padding: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: 1rem;
}
.carrito-acciones-comprar{
    border: 0;
    background-color: var(--clr-main);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--clr-white);
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
  
  .toggle {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
}

@media (max-width: 991px) {
    .navigation {
      left: -300px;
    }
    .navigation.active {
      width: 300px;
      left: 0;
    }
    .main {
      width: 100%;
      left: 0;
    }
    .main.active {
      left: 300px;
    }
    .cardBox {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .details {
      grid-template-columns: 1fr;
    }
    .recentOrders {
      overflow-x: auto;
    }
    .status.inProgress {
      white-space: nowrap;
    }
  }
  
  @media (max-width: 480px) {
    .cardBox {
      grid-template-columns: repeat(1, 1fr);
    }
    .cardHeader h2 {
      font-size: 20px;
    }
    .user {
      min-width: 40px;
    }
    .navigation {
      width: 100%;
      left: -100%;
      z-index: 1000;
    }
    .navigation.active {
      width: 100%;
      left: 0;
    }
    .toggle {
      z-index: 10001;
    }
    .main.active .toggle {
      color: #fff;
      position: fixed;
      right: 0;
      left: initial;
    }
  }
  .carrito-producto-eliminar{
    font-size: 320%;
  }
  .carrito-producto-ver{
    font-size: 320%;
  }

  /* =========== Google Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* =============== Globals ============== */
.asterisco {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.root {
  --blue: #2a2185;
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
  --greenyellow: #38d39f;
}

.body {
  min-height: 100vh;
  overflow-x: hidden;
}
.container {
  position: relative;
  width: 100%;
}

/* =============== Navigation ================ */
.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: var(--greenyellow);
  border-left: 10px solid var(--greenyellow);
  transition: 0.5s;
  overflow: hidden;
}
.navigation.active {
  width: 80px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
  background-color: var(--white);
}

.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--black1);
}
.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--blue);
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}
.navigation ul li a .icon ion-icon {
  font-size: 1.75rem;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
  font-size: 20px;
}

/* --------- curve outside ---------- */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}

/* ===================== Main ===================== */
.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
}
.main.active {
  width: calc(100% - 80px);
  left: 80px;
}

.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}

.search {
  position: relative;
  width: 400px;
  margin: 0 10px;
}

.search label {
  position: relative;
  width: 100%;
}

.search label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 35px;
  font-size: 18px;
  outline: none;
  border: 1px solid var(--black2);
}

.search label ion-icon {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 1.2rem;
}

.user {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


img.img-fluid {
  margin-top: 10px; /* Ajusta el valor según tu preferencia */
}
/* div.main.active{
  background-image: url(../imgs/fondoxd.jpeg); /* Reemplaza 'ruta/a/tu/imagen.jpg' con la ubicación de tu imagen de fondo 
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo 
  background-position: center; /* Centra la imagen en el fondo 
  background-attachment: fixed; /* Fija la imagen de fondo para que no se desplace con el contenido 
}
/* div.main{
  background-image: url(../imgs/fondoxd.jpeg); /* Reemplaza 'ruta/a/tu/imagen.jpg' con la ubicación de tu imagen de fondo 
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo 
  background-position: center; /* Centra la imagen en el fondo 
  background-attachment: fixed; /* Fija la imagen de fondo para que no se desplace con el contenido 
}
*/
img.producto-imagen{
  max-width: 600px; /* Ajusta este valor según tus necesidades */
  width: 100%;
  margin: 0 auto; /* Esto centrará el contenedor horizontalmente */
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;
}
button.producto-agendar{
  width: 100%;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  line-height: 1.4;
}


.asterisco {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.body {
  color: #404040;
  font-family: "Arial", Segoe UI, Tahoma, sans-serifl, Helvetica Neue, Helvetica;
}

/*=====================================
estilos de la utilidad
Copiar esto
=====================================*/
.seccion-perfil-usuario .perfil-usuario-body,
.seccion-perfil-usuario {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.seccion-perfil-usuario .perfil-usuario-header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1.25rem;
}

.seccion-perfil-usuario .perfil-usuario-portada {
  display: block;
  position: relative;
  width: 53%;
  height: 15rem;
  background-image: linear-gradient(45deg, #00f2fe, #38d39f);
  border-radius: 20px 20px 20px 20px;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: 0;
  border-radius: 8px;
  padding: 12px 25px;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada i {
  margin-right: 1rem;
}

.seccion-perfil-usuario .perfil-usuario-avatar {
  display: flex;
  width: 180px;
  height: 180px;
  align-items: center;
  justify-content: center;
  border: 7px solid #FFFFFF;
  background-color: #DFE5F2;
  border-radius: 50%;
  box-shadow: 0 0 12px rgba(0, 0, 0, .2);
  position: absolute;
  bottom: -40px;
  left: calc(50% - 90px);
  z-index: 1;
}

.seccion-perfil-usuario .perfil-usuario-avatar img {
  width: 100%;
  position: relative;
  border-radius: 50%;
}

.seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar {
  position: absolute;
  left: -2px;
  top: -2px;
  border: 0;
  background-color: #fff;
  box-shadow: 0 0 12px rgba(0, 0, 0, .2);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-body {
  width: 70%;
  position: relative;
  max-width: 750px;
}

.seccion-perfil-usuario .perfil-usuario-body .titulo {
  display: block;
  width: 100%;
  font-size: 1.75em;
  margin-bottom: 0.5rem;
}

.seccion-perfil-usuario .perfil-usuario-body .texto {
  color: #848484;
  font-size: 0.95em;
}

.seccion-perfil-usuario .perfil-usuario-footer,
.seccion-perfil-usuario .perfil-usuario-bio {
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem 2rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, .2);
  background-color: #fff;
  border-radius: 15px;
  width: 100%;
}

.seccion-perfil-usuario .perfil-usuario-bio {
  margin-bottom: 1.25rem;
  text-align: center;
}

.seccion-perfil-usuario .lista-datos {
  width: 50%;
  list-style: none;
}

.seccion-perfil-usuario .lista-datos li {
  padding: 5px 0;
}

.seccion-perfil-usuario .lista-datos li>.icono {
  margin-right: 1rem;
  font-size: 1.2rem;
  vertical-align: middle;
}

.seccion-perfil-usuario .redes-sociales {
  position: absolute;
  right: calc(0px - 50px - 1rem);
  top: 0;
  display: flex;
  flex-direction: column;
}

.seccion-perfil-usuario .redes-sociales .boton-redes {
  border: 0;
  background-color: #fff;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  box-shadow: 0 0 12px rgba(0, 0, 0, .2);
  font-size: 1.3rem;
}

.seccion-perfil-usuario .redes-sociales .boton-redes+.boton-redes {
  margin-top: .5rem;
}

@media (max-width: 750px) {
  .seccion-perfil-usuario .lista-datos {
      width: 100%;
  }

  .seccion-perfil-usuario .perfil-usuario-portada,
  .seccion-perfil-usuario .perfil-usuario-body {
      width: 95%;
  }

  .seccion-perfil-usuario .redes-sociales {
      position: relative;
      flex-direction: row;
      width: 100%;
      left: 0;
      text-align: center;
      margin-top: 1rem;
      margin-bottom: 1rem;
      align-items: center;
      justify-content: center
  }

  .seccion-perfil-usuario .redes-sociales .boton-redes+.boton-redes {
      margin-left: 1rem;
      margin-top: 0;
  }
}
.reservar-ahora {
display: block;
margin: 0 auto;
padding: 20px 40px;
border: none;
border-radius: 50px;
background-color: #38d39f;
color: white;
text-align: center;
text-decoration: none;
font-size: 20px;
margin-top: 20px;
font-weight: bold;
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.reservar-ahora:hover {
background-color:#b0c2f2; 
}
.centro{
  margin-left: 20%;
}
.correo{
  color: #383838;
}